
body { 
    margin: 0px; 
}
.header { 
    display: flex;
    justify-content: space-between; 
    background-color: #1F2937; 
    color: white;     
    padding: 50px;
    margin-top: -40px;  
}

.RS {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}

li{
    list-style-type: none; 
}

top { 
    
}