
body { 
    margin: 0px; 
}
.header { 
    display: flex;
    justify-content: space-between; 
    background-color: #1F2937; 
    color: white;     
    padding: 50px;
    margin-top: -40px;  
    margin-bottom: -30px; 
}

.RS {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}

li{
    list-style-type: none; 
}

.Hero { 
    display: flex; 
    background-color: #1F2937;  
    padding: 40px; 
    font-size: 18px; 
    color: #E5E7EB;
    flex-direction: row;
    border: 2px solid red; 
    justify-content: space-around; 
}

.Hero h4 { 
    font-size:48px; 
    font-weight: 900; 
    color: #F9FAF8; 
    border: 2px solid red; 
    margin: 0px; 
}

.Hero-right {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.Hero-left { 
    display: flex; 
    flex-direction: column; 
}


button { 
    display: block; 
    background-color: #3882f6;
    border-radius: 8px; 
    font-size: 17px; 
    width: 125px; 
    color: #E5E7EB; 
    font-weight: 900;  
    padding: 7px;
    justify-content: flex-end;
    align-items: flex-end; 
}

#image-placeholder {
    border: 2px solid red; 
    flex: 1 1 auto; 
}